.full-width {
  width: 100%;
}

.main.container-fluid {
  margin-bottom: 5em;
  margin-top: 2em;
}

.black-background {
  padding: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

#movie-list-item {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
}

.hide-component {
  display: none;
}

.show-component {
  display: inherit;
}
