.full-width {
  width: 100%;
}

.main.container-fluid {
  margin-bottom: 5em;
  margin-top: 2em;
}

.black-background {
  padding: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

#movie-list-item {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.hide-component {
  display: none;
}

.show-component {
  display: inherit;
}

.movie-item-image {
  max-height: 450px;
  object-fit: cover;
}
